streamlit
numpy
pandas
opencv-python
pillow
plotly
torch
torchvision
torchaudio
timm
huggingface_hub
safetensors
altair
pydeck
tqdm
sympy
reportlab
GitPython
watchdog
google-generativeai
